
<div class="page-header">
	<h2>User Login</h2>
	</div>

<!-- calling register controller's regUser() method that makes http post request on submit button click -->

	<form ng-submit="register.regUser()">
		
		<label>UserName</label>
		<input class="form-control" type="text" name="name" placeholder="Enter UserName" ng-model="register.regData.username">
		<br>

		<label>Password</label>
		<input class="form-control" type="text" name="password" placeholder="Enter Password" ng-model="register.regData.password">
		<br>

		<button class="btn btn-primary" type="submit">Login</button>
	</form>


<br>

<!-- Progress indicator for Registration -->
<div class="jumbotron text-center" ng-show="register.loading">
	<span class="glyphicon glyphicon-repeat spinner" ></span>
	<p>Registering...</p>
</div>

<!-- For displaying alerts regarding successfull user registration -->

<div class="row show-hide message" ng-show="register.successMsg">
	<div class="alert alert-success">{{register.successMsg}}</div>
</div>

<!-- For displaying alerts regarding erraneous user registration -->

<div class="row show-hide message" ng-show="register.errormsg">
	<div class="alert alert-danger">{{register.errormsg}}</div>
</div>