
<div class="page-header">
	<h2>User Login</h2>
	</div>

<!-- calling mainCtrl controller's doLogin() method that makes http post request on submit button click -->

	<form ng-submit="mainCtrl.doLogin()">
		
		<label>UserName</label>
		<input class="form-control" type="text" name="name" placeholder="Enter UserName" ng-model="mainCtrl.loginData.username">
		<br>

		<label>Password</label>
		<input class="form-control" type="text" name="password" placeholder="Enter Password" ng-model="mainCtrl.loginData.password">
		<br>

		<button class="btn btn-primary" type="submit">Login</button>
	</form>


<br>

<!-- Progress indicator for Registration -->
<div class="jumbotron text-center" ng-show="mainCtrl.loading">
	<span class="glyphicon glyphicon-repeat spinner" ></span>
	<p>Logging In...</p>
</div>

<!-- For displaying alerts regarding successfull user registration -->

<div class="row show-hide message" ng-show="mainCtrl.successMsg">
	<div class="alert alert-success">{{mainCtrl.successMsg}}</div>
</div>

<!-- For displaying alerts regarding erraneous user registration -->

<div class="row show-hide message" ng-show="mainCtrl.errormsg">
	<div class="alert alert-danger">{{mainCtrl.errormsg}}</div>
</div>