<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
<div class="page-header">
	User Registration

	<form>
		<label>Email</label>
		<input class="form-control" type="text" name="email" placeholder="Enter Email">
		<br>
		
		<label>Name</label>
		<input class="form-control" type="text" name="name" placeholder="Enter Name">
		<br>

		<label>Password</label>
		<input class="form-control" type="text" name="password" placeholder="Enter Password">
		<br>

		<button class="btn btn-primary" type="submit">Register</button>
	</form>

</div>

</body>
</html>